@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    font-size: 62.5%;

    --tag-color: #2c3e50;
    --active-tag-color: #3d5671;

    --card-border: #8c8c8c;
    --card-background: #f4f0f0;

    --card-min-width: 24rem;
    --card-max-width: 48rem;

    --progress-bar-color: rgba(1, 178, 175, 1.0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
